/* FONTS UPLOADS */

@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');



/* HEADER HTML BODY */

html, body {
 height:100%;
    margin: 0;
    width: 100%;
}

* {
    box-sizing: content-box;
}

/* MENU */

#menu {
    padding : 2px 0;
    margin : 0px;
    text-align : center;
    letter-spacing : 1px;
    border : 0px solid #eee;
    background : #ffffff;
    background-repeat: no-repeat;
    height: 62px;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
}

#menu a {
    background-color: white;
    border: solid 2px black;
    padding: 1.2em;
    margin: 5px;
    margin-left: 15px;
    float: left; 
    color: black; 
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;  
}

#menu a:hover{
    background: rgb(0, 0, 0);
    color: white;
}

.cell {cursor: cell;
}

#contact {
    background-color: black;
    color: white;
}

#contact:hover {
    background-color: rgb(178, 218, 0);
}





/* BANNER */

#banner {
	padding: 12em 0 10em 0;
	font-family: 'Raleway', sans-serif;
    height: 100px;  
    width: 100%;
}

#banner h1 {
    font-size: 3em;
    font-weight: 100;
    color: #fff;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    width: 38%;
    padding: 15px;
}

#banner p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-bottom: 1.75em;
    width: 38%;
    font-family: 'Work Sans', sans serif;
    padding: 15px;
}

.parallax {
    background-image: url("images/header_image.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* PROFILE */

#profile {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

#profile h1 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 50;
    color: rgb(0, 0, 0);
    line-height: 1em;
    margin: 0 0 0.5em 0;
    width: 50%;
    padding: 5px;
}

#profile p {
    color: rgb(78, 73, 73);
    font-family: 'Work Sans', sans serif;
    margin-bottom: 1.75em;
    width: 50%;
    padding: 5px;
}

#profile img{
    width: 30%;
    height: 30%;
}


/* SKILLS */

#skills {
    background-color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0px;
    color: #ffffff;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: inherit;
    
}

#skills h1{
    font-family: 'Work Sans', sans serif;
    font-size: 14px;
}

#skills h2{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

skills ul {
    list-style-type: square;
    color: #ffffff;
}

#skills img{
    width: 40%;
    height: 40%;
}



/* LANGUAGES */

#languages {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#languages h1 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 50;
    color: rgb(0, 0, 0);
    line-height: 20px;
    margin: 0 0 0.5em 0;
    width: 100%;
    padding: Opx;
}

#languages p {
    font-size: 15px;
    text-align: center;
    color: rgb(78, 73, 73);
    font-family: 'Work Sans', sans serif;
    padding: Opx;
    margin: 0%;
}

#languages article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

#languages img{
    width: 25%;
    height: 25%;
}

/* JOBS */

#jobs {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 35px;
    color: #ffffff;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;

}

#jobs-description {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    
}

#jobs-description h1{
    font-family: 'Work Sans', sans serif;
    font-size: 12px;
}

#jobs-description h2{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#jobs-description h3{
    font-family: 'Work Sans', sans serif;
    font-size: 15px;
}

#jobs-description p{
    font-family: 'Work Sans', sans serif;
    font-size: 15pxem;
       
}

#jobs-description article {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 20%;
}

#jobs-plus {
 padding-top: 10px;
 
}




/* VOLUNTEER */

#volunteer {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    color: #000000;
    text-align: center; 
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 50px;
}

#volunteer h1{
    font-family: 'Work Sans', sans serif;
    font-size: 12px;
}

#volunteer h2{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

#volunteer h3{
    font-family: 'Work Sans', sans serif;
    font-size: 15px;
}

volunteer article{
    padding: 50px;
    width: 40%;
}



/* SCHOOL */

#school {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 35px;
    color: #ffffff;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;

}

#schoolplus {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    margin: 0%;
    
}

#schoolplus h1{
    font-family: 'Work Sans', sans serif;
    font-size: 15px;
}

#schoolplus h2{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#schoolplus article {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 30%;
}

#schoolplusdeux {
 padding-top: 10px;
 
}


/* CERTIFICATIONS */

#certifications {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    color: #000000;
    text-align: center; 
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 30px;
}

#certifications h1{
    font-family: 'Work Sans', sans serif;
    font-size: 0.7em;
}

#certifications h2{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

#certificats deux {
    padding-top: 10px;
    
   }

/* CONTACTME */

#contactme {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    color: #ffffff;
    text-align: center; 
    padding: 10px;
}

#contactme h1{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}




/*CONTACTME FORM*/

input[type=text], select, textarea {
    width: 30%; 
    padding: 12px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical; 
    font-family: 'Work Sans', sans serif;
    font-size: 15px;
}

input[type=submit] {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: rgb(178, 218, 0);
    color: rgb(0, 0, 0)
}

.container {
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    font-family: 'Work Sans', sans serif;
    font-size: 15px;
}

#descriptif{
    height: 200px;
}


/* FOOTER */
footer{
    
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-family: 'Work Sans', sans serif;
    font-size: 7px;
    display: flex;
    align-items: left;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-end;
    width: 40px;
    
    
}

footer h1 {
    color: #000000;
    font-size: 15px;
}
footer a{
    margin: 100%;
    color: #000000;
    font-size: 12px;

}

footer img{
   margin: 10%;
   width: 50%;

}

#footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}


/*RESPONSIVE*/

/**mobile**/
@media screen and (max-width: 600px) {
profile {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%;
    
}

}