
/* FONTS UPLOADS */

@import url('https://fonts.googleapis.com/css?family=Raleway:800');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300');



/* HEADER HTML BODY */

html, body {
 height:100%;
    margin: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    position: relative;
}


/* MENU */

#menu {
    padding : 2px 0;
    margin : 0px;
    text-align : center;
    letter-spacing : 1px;
    border : 0px solid #eee;
    background : #ffffff;
    background-repeat: no-repeat;
    height: 62px;
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
}

button {
    background-color: white;
    border: solid 2px black;
    padding: 1.2em;
    margin: 5px;
    margin-left: 15px;
    float: left; 
    color: black; 
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;  
}

button:hover{
    background: rgb(0, 0, 0);
    color: white;
}

.cell {cursor: cell;
}


/**ARTICLES**/
article{
    width: 70%;
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: justify;
    justify-content: flex-start;
    font-family: 'Raleway', sans-serif;
    
    
    
}

#article p {
    font-size: 14px;
    color: rgb(255, 255, 255);
      
}

#article h2 {
    color: rgb(255, 255, 255);
    font-family: 'Work Sans', sans serif;
}

/* FOOTER */

.footer-distributed{
	background-color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 20px;
    position: absolute;
    
}

.footer-distributed .footer-left p{
	color:  #000102;
    font-size: 14px;
    font-family: 'Work Sans', sans serif;
	margin: 0;
}


/* Footer links */

.footer-distributed p.footer-links{
	font-size:16px;
	font-weight: bold;
    color:  #000000;
    font-family: 'Raleway', sans-serif;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin: 10px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color:  #000000;
	border-radius: 2px;
    font-size: 20px;
    align-items: center;
	line-height: 35px;
    padding: 5px;
}

.footer-distributed .footer-right img{
    width: 30px;
  
    
    
}



/*RESPONSIVE*/

/**mobile**/
@media screen and (max-width: 600px) {
profile {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 80%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
		text-align: center;
}

.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
}

.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
}
    
}